* {
    --sidebar-blue: rgb(25,146,211);
    --background-gray: rgb(226,232,240); 
    --background-white: rgb(255,255,255);
    --point-orange: rgb(240,180,41);
    --font-gray: rgb(196,196,196);
    --font-black: rgb(0,0,0);
}
