@font-face {
    font-family: Inter;
    src: url(../resources/fonts/Inter-variable.ttf);
}

* {
    --sidebar-blue: rgb(25,146,211);
    --background-gray: rgb(226,232,240); 
    --background-white: rgb(255,255,255);
    --point-orange: rgb(240,180,41);
    --font-gray: rgb(196,196,196);
    --font-black: rgb(0,0,0);
    --font-white: rgb(255,255,255);

    font-family: Inter, sans-serif;

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-rows: 20% 1fr;
    grid-template-columns: 240px 1fr;
}

/* header start */
header {
    background-color: var(--background-white);
    grid-area: 1 / 2 / 2 / -1;

    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: 3fr 2fr;
}

header .header-search-field {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

header .header-search-field button {
    background-color: transparent;
    border: none;
}

header .header-search-field button span {
    font-size: 1.6rem;
}

header .header-search-field input {
    background-color: var(--background-gray);
    border: none;
    border-radius: 0.8rem;

    height: 1.6rem;
    width: 80%;
}
/* header end */

/* sidebar start */
aside {
    background-color: var(--sidebar-blue);
    grid-area: 1 / 1 / -1 / 2;

    display: flex;
    flex-direction: column;
    gap: 40px;
    
    color: var(--font-white);

    padding-left: 16px;
    padding-top: 16px;

    height: 100vh;
}

aside ul {
    list-style-type: none;

    display: flex;
    flex-direction: column;
    gap: 6px;
}

aside h1 {
    font-size: 1.4rem;
    font-weight: 700;

    display: flex;
    align-items: end;
}

aside h1 .material-symbols-outlined {
    font-size: 2rem;
    margin-right: 0.6rem;
}

aside ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

aside li {
    font-size: 1rem;
    font-weight: 600;
    
}

aside li a {
    text-decoration: none;
    color: var(--font-white);

    display: flex;
    align-items: end;
}

aside li .material-symbols-outlined {
    font-size: 1.4rem;
    margin-right: 0.6rem;
}
/* sidebar end */

/* main content start */
article {
    background-color: var(--background-gray);
    grid-area: 2 / 2 / -1 / -1;
}
/* main content end */
